// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
    
    width: 100%;
    height: 400px;
    margin-top: 15px;
}
div#hidden{
	position:fixed;
	right:0;
	bottom:0;
	height:50px;
	width:50px;
	border:2px solid black;
}