.signup{
	width: 30%;
	margin-left: 35%;
	@media(max-width: 480px){
		width: 90%;
		margin-left: 5%;
	}
	/*border:2px solid black;*/
	h2{
		display: flex;
		justify-content: center;
		text-align: center;
		font-size:50px;
	}
	form{
		text-align: center;
		label{
			font-size: 12px;
		}
		input[type=text],input[type=password],input[type=email]{
			border-radius: 25px;
		}
		.user_name{
			display:flex;
			justify-content: space-around;
			input[type=text]{
				width:95%;
			}
		}
	}
}